<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top main-navbar"
  >
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2" href="index.html">
        <span class="logo-icon">
          <i class="fa-solid fa-tooth" aria-hidden="true"> </i>
        </span>

        <span class="logo-text">
          <span class="text-accent"> Smile </span>Care
        </span>
      </a>

      <button
        class="navbar-toggler border-0 shadow-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/HomePage/home.html"> Home </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/aboutPage/about.html"> About </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/servicePage/services.html"> Services </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/doctorPage/doctors.html"> Doctors </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/articlePage/article.html"> Articles </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ecommercePage/ecommerce.html">Medical Store </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/contactPage/contactUs.html"> Contact </a>
          </li>
        </ul>

        <div
          id="auth-container"
          class="d-flex flex-column flex-lg-row align-items-center gap-2"
        >
          <a href="/aboutPage/login.html" class="btn btn-login"> Login </a>

          <a href="/doctorPage/patient-dashboard.html" target="_blank" class="btn btn-register"> Register </a>
        </div>
      </div>
    </div>
  </nav>
</header>
